stockview/public/market_data.db
stockview/public/sample.db
stockview/package-lock.json
.idea/.gitignore
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources/fa767312-88e4-4672-a130-733f25d9aa10.xml
.idea/dataSources/fa767312-88e4-4672-a130-733f25d9aa10/storage_v2/_src_/schema/main.uQUzAA.meta
